@import "reset";
@import "typography";


// colors
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$dark-gray: hsl(0, 0%, 55%);
$darker-gray: hsl(0, 0%, 41%);

// spacing

$main-spacing: 64px;
$small-spacing: 8px;
$medium-spacing: 16px;
$large-spacing: 32px;
$gap-spacing: 40px;
$header-height: 80px;
$hero-spacing: 240px;
$centered-width: 50%;

// media query
$mq-x-large: 1440px;
$mq-large: 800px;
$mq-medium: 600px;
$mq-small: 375px;


// use @include to use mixins
@mixin drop-shadow($color) {
  // box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px $color;
}

@mixin mq($width) {
  @media (max-width: $width) {
    // use @content - will be replaced when used
    @content;
  }
}

@mixin vertically-middle() {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

// @import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@100;300;700&display=swap');

body {
  background-color: $white;
  color: white;

}

a {
  text-decoration: none;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: $header-height;
  padding: 0 $main-spacing;

  nav a {
    color: $white;
    margin-left: $small-spacing;
    transition: all linear .2s;

    &:hover {
      color: $white;
      border-bottom: 4px solid $white;
  }
  }
}

.hero {
  background: no-repeat center url("/img/desktop/image-hero.jpg");
  display: flex;
  align-items: center;
  padding: 0 64px;
  height: 100vh;
  background-size: cover;

  h1 {
    border: solid 1px white;
    width: 60%;
    padding: 48px;

  }
}

.section-1-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  justify-content: center;
  align-items: center;
  padding: 0 64px;
  margin: $hero-spacing 0;

  .img-vr {
    grid-column: 1/9;
    width: 880px;
  }

  .section-1-content {
    color: $black;
    grid-column: 6 / -1;
    background-color: $white;
    align-self: end;
    padding: 72px 64px 0 64px;
    z-index: 10;
  }

  .img-vr, .section-1-content {
    grid-row: 1/2;
  }

  h2 {
    margin-bottom: 32px;
  }

  p {
    color: $darker-gray;
  }
}

.section-2-grid {
  padding: 0 64px;
  margin-bottom: $hero-spacing;

  
  .section-2-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $black;
    margin-bottom: $large-spacing;


    a {
      color: $black;
      border: solid 1px $black;
      padding: $small-spacing $main-spacing;
      transition: all linear .2s;

      
        &:hover {
          color:#b95cc6;
          box-shadow: 8px 8px 2px 1px rgba(242, 169, 247, 0.466);
          transform: translate(-4px, -4px);
      }

    }

  }
}

.section-2-grid-gallery-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: $large-spacing;

  .gallery-item {
    position: relative;
    width: 300px;
    height: 600px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &:hover {
      color: black;
    }

    a {
      bottom: 0;
      position: absolute;
      transform: translate(40%, -60%);
      color: $white;

   
    }
  }

}

// gallery images

.deepearth {
  background-image: url("/img/desktop/image-deep-earth.jpg");
}

.nightarcade {
  background-image: url("/img/desktop/image-night-arcade.jpg");
}

.soccerteam {
  background-image: url("/img/desktop/image-soccer-team.jpg");
}

.thegrid {
  background-image: url("/img/desktop/image-grid.jpg");
}

.abovevr {
  background-image: url("/img/desktop/image-from-above.jpg");
}

.pocketborealis {
  background-image: url("/img/desktop/image-pocket-borealis.jpg");
}

.thecuriosity {
  background-image: url("/img/desktop/image-curiosity.jpg");
}

.fisheye {
  background-image: url("/img/desktop/image-fisheye.jpg");
}


// footer

footer {
  background-color: $black;
  padding-top: $main-spacing;


  .footer-header, .footer-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 $main-spacing;
  }

  .footer-header {
    margin-bottom: $medium-spacing;

    .footer-social a {
      margin-left: $medium-spacing;
    }
  }

  .footer-nav nav a {
    
    color: $dark-gray;
    margin-right: $medium-spacing;
    transition: all linear .2s;

    &:hover {
      color: $white;
      border-bottom: 4px solid $white;
  }

  }

  .attribution {
    padding: $large-spacing 0;
    text-align: center;

    a {
      color: $dark-gray;
      transition: all linear .2s;

      &:hover {
        color: $white;
        border-bottom: 4px solid $white;
    }
    }
  }

}