@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@100;300;700&display=swap');


// font-family: 'Alata', sans-serif;
// font-family: 'Josefin Sans', sans-serif;

// fonts and size
// $body-font: "Alata";
// $header-font: "Josefin Sans";

$title-font: "Josefin Sans", sans-serif;
$body-font: "Alata", sans-serif;

// Desktop font size

$h1-size: 96px;
$h2-size: 64px;
$h3-size: 32px;
$body-size: 18px;
$button-size: 24px;

body {
  font-family: $body-font;
  font-size: $body-size;
  line-height: 1.5;
}

h1, h2 {
  font-weight: 300;
  line-height: 1;
  font-family: $title-font;
  text-transform: uppercase;
}

h1 {
  font-size: $h1-size;
  line-height: 1;
}

h2 {
  font-size: $h2-size;
  line-height: .9;
}

.section-2-header a {
  font-size: $button-size;
}

.gallery-item a {
  font-family: $title-font;
  line-height: .9;
  text-transform: uppercase;
  font-size: $h3-size;
}